@import 'bulma/css/bulma.css';

html,
body,
#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
  flex: 1;
}

.void {
  display: none;
}


.shell > code {
  color:  hsl(48, 100%, 67%);
}

.shell > code::before {
  content:"$";
  margin-right: 12px;
  color:  hsl(217, 71%, 53%);
}

.keyword::before {
  content: "#";
  margin-right: 2px;
  color: #c0c0c0;
}

.package-meta span {
  margin-left: 4px;
}

.package-meta span:first-child {
  margin-left: 0;
}

.package-meta span.author::before {
  content: "Built by";
  margin-right: 8px;
  font-weight: 900;
}

.package-meta span.download::after {
  content: "downloads";
  margin-left: 8px;
  font-weight: 300;
}

.balance::after {
  content: "Tez";
  font-weight: 300;
  margin-left: 8px;
}