@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #1b1b1b;
}

#__next {
  min-height: 100vh;
  position: relative;
}

main {
  flex: 1;
}

.void {
  display: none;
}

.shell > code {
  color: hsl(48, 100%, 67%);
}

.shell > code::before {
  content: "$";
  margin-right: 12px;
  color: hsl(217, 71%, 53%);
}

.keyword::before {
  content: "#";
  margin-right: 2px;
  color: #c0c0c0;
}

.package-meta span {
  margin-left: 4px;
}

.package-meta span:first-child {
  margin-left: 0;
}

.package-meta span.author::before {
  content: "Built by";
  margin-right: 8px;
  font-weight: 900;
}

.package-meta span.download::after {
  content: "downloads";
  margin-left: 8px;
  font-weight: 300;
}

.balance::after {
  content: "Tez";
  font-weight: 300;
  margin-left: 8px;
}

/*
  Spinner animation
*/
.Spinner {
  animation: rotate 2s linear infinite;
  /* width: 50px;
  height: 50px; */
}

.Spinner__path {
  stroke: #4a4a4a;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

/* Router loading bar */
#nprogress .bar {
  background: #0e74ff !important;
  height: 3px !important;
}
